
sentence-transformers==5.1.1
pandas==2.3.3
ipykernel==7.0.1
einops==0.8.1
hf-xet==1.1.10
mteb==1.39.7
google-genai==1.45.0
openai==2.6.0
groq==0.33.0
langchain-text-splitters==1.0.0
beautifulsoup4==4.14.2
langchain-experimental==0.3.4
langchain-huggingface==1.0.0
lancedb==0.25.2
fastapi==0.120.0
uvicorn==0.38.0
streamlit==1.50.0
readability-lxml==0.8.4.1
selenium==4.38.0
webdriver-manager==4.0.2